# Database Config
# dbType = posgre: pqsl, mssql : sql, oracle: oracle, mariaDB: mariaDB

dbType=your_database_type
dbIP=your_database_ip
dbPort=your_database_port
dbDatabase=your_database_name
dbUser=your_database_user
dbPass=your_database_pass

# SMTP Config

emailFrom=your_email
emailTo=send_email_to
emailCc=send_email_CC
emailSubject=Monitoring(yyyy-mm-dd_now)
emailBody=Attached Monitoring
smtpIP=smtp.gmail.com
smtpPort=587
smtpAuth=true
smtpTLS=true
smtpAttached=false
smtpUser=your_username
smtpPass=your_user_pass

# Query Config
queryData =Table_1,Table_2

# You can add as much as you want
query.Table_1 = SELECT * FROM your_table;

query.Table_2 = SELECT * FROM your_table;